$bg: #f7f7f7;
$font: #283140;
$red: #fa9579;
$purple: #654062;
$border: #707070;
$button: #bee0d9;
$posting_height: 45px;
$posting_grid: 2fr 15fr 2fr 5fr 4fr;
$posting_border: 1px solid #d5d5d5;
$medium: 1060px;
$small: 768px;
$footer_button: #3a3d41;
