$bg: #f7f7f7;
$font: #283140;
$red: #f57678;
$blue: #42a2d6;
$green: #9ab994;
$border: #707070;
$button: #bee0d9;
$posting_height: 45px;
$posting_grid: 2fr 15fr 2fr 2fr 4fr;
$posting_border: 1px solid #d5d5d5;
