extends ../base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        label(for="old_password") 이전 비밀번호
        input#old_password(name="old_password", type="password", required, placeholder="비밀번호")
        label(for="new_password") 새로운 비밀번호
        input#new_password(name="new_password", type="password", required, placeholder="비밀번호")
        label(for="new_password_confirm") 새로운 비밀번호 확인
        input#new_password-confirm(name="new_password_confirm", type="password", required, placeholder="비밀번호 확인")
        input#submit(type="submit", value="관리자 비밀번호 변경")