extends ../base

block content 
    .edit__profile
        h1=pageTitle
        if errorMessage
            span.error=errorMessage
        form.admin(method="POST")
            .input_container
                label(for="old_password") 이전 비밀번호
                input.input#old_password(name="old_password", type="password", required, placeholder="비밀번호")
                label(for="new_password") 새로운 비밀번호
                input.input#new_password(name="new_password", type="password", required, placeholder="비밀번호", minlength="7", maxlength="15")
                label(for="new_password_confirm") 새로운 비밀번호 확인
                input.input#new_password-confirm(name="new_password_confirm", type="password", required, placeholder="비밀번호 확인", minlength="7", maxlength="15")
                input#submit(type="submit", value="관리자 비밀번호 변경")