extends ../base

block content
    .intro 
        h1=pageTitle
        .facility 
            h2 시설소개
            .facility-images 
                .facility-image 
                    img(src="/uploads/sources/desk.jpeg", alt="데스크")
                    h5 데스크
                .img-buttons 
                    div
                        .img-button.img-selected
                        img(src="/uploads/sources/desk.jpeg", alt="데스크")
                    div
                        .img-button
                        img(src="/uploads/sources/lobby.jpeg", alt="로비")
                    div
                        .img-button
                        img(src="/uploads/sources/consult.jpeg", alt="상담실")
                    div
                        .img-button
                        img(src="/uploads/sources/chairs.jpeg", alt="치료1")
                    div
                        .img-button
                        img(src="/uploads/sources/chair.jpeg", alt="수술실")
                    div
                        .img-button
                        img(src="/uploads/sources/chairs2.jpeg", alt="치료2")
                    div
                        .img-button
                        img(src="/uploads/sources/xray-hor.jpeg", alt="엑스레이1")
                    div
                        .img-button
                        img(src="/uploads/sources/xray2.jpeg", alt="엑스레이2")
block scripts 
    script(src="/assets/js/facility.js") 