extends ../base

block content 
    .login
        h1=pageTitle
        if errorMessage
            span.error__admin=errorMessage
        form.admin(method="POST")
            .input_container
                label(for="username") 아이디
                input#username.input(name="username", type="text", required, placeholder="아이디")
                label(for="password") 비밀번호
                input#password.input(name="password", type="password", required, placeholder="비밀번호")
            input#submit(type="submit", value="로그인")
