extends ../base
include ../mixins/postingMixin
include ../mixins/importantPostingMixin

block content 
    if importantPostings
        ul
            each importantPosting in importantPostings
                +importantPosting(importantPosting)
    if postings
        ul
            each posting in postings
                +posting(posting)
            else 
                li 게시물이 없습니다.
