extends ../base
include ../mixins/postingMixin

block content 
    if postings
        ul
            each posting in postings
                +posting(posting)
            else 
                li 게시물이 없습니다.
