extends ../base
include ../mixins/postingMixin
include ../mixins/importantPostingMixin

block content 
    if importantPostings
        ul
            each importantPosting in importantPostings
                +importantPosting(importantPosting)
    if postings
        ul
            each posting in postings
                +posting(posting)
    if loggedInUser
        a(href="/notice/upload") 게시글 작성 &rarr; 
    form(action=`/notice${searchPage}search/1`)
        select#search(name="search")
            option(value="title") 제목
            option(value="content") 내용
            option(value="author") 작성자
        label(for="value")
        input#value(type="text", name="value")
        input#search_submit(type="submit", value="검색")
    

block scripts 
    script(src="/assets/js/notice.js")
