extends ../base

block content 
    form(action="/notice")
        label(for="title") 제목
        input#title(name="title", type="text", required, placeholder="제목을 작성하세요.")
        label(for="whichBoard") 게시판 선택
        input#whichBoard(list="whichBoardList", name="whichBoard", placeholder="게시판을 선택하세요.")
        datalist#whichBoardList
            option(value="공지사항")
            option(value="치료 전후 사례")
            option(value="치료 후 주의사항")
        #editor(name="editor") 
        input#submit(type="submit")

block scripts 
    script(src="/assets/js/editor.js")