// Config
@import "./config/_reset.scss";
@import "./config/_variables.scss";
@import "./config/_editor.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

// Components
@import "./components/_header.scss";
@import "./components/_sns.scss";
@import "./components/_footer.scss";
@import "./components/_message.scss";
@import "./components/_inputs.scss";

// Screens
@import "./screens/_home.scss";
@import "./screens/_login.scss";

// Defaults
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: $bg;
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  height: 100%;
  padding: 57px 16vw;
}
