.carousel {
  width: 100vw;
  height: 42.9vw;
  margin-bottom: 3vw;
  position: relative;
  overflow: hidden;
  & button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    z-index: 2;
    & i {
      font-size: 50px;
      color: $bg;
      text-shadow: 0 2px 10px $font;
      transition: all 0.2s ease-in-out;
    }
    &:hover i {
      cursor: pointer;
      color: $font;
      transition: all 0.2s ease-in-out;
    }
    &:focus {
      outline: none;
      color: $font;
      transition: all 0.2s ease-in-out;
    }
  }
  & .left-button {
    left: 15%;
  }
  & .right-button {
    right: 15%;
  }
  & .overflow-banner {
    width: 100%;
    height: 100%;
    & .img-banner {
      height: 100%;
      display: flex;
      justify-content: center;
      transition: transform 0.4s ease-in-out;
      & li {
        width: 100%;
        height: 100%;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.home {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vw;
  & hr {
    width: 40px;
    height: 1px;
    background-color: black;
    border: none;
  }
  & h1 {
    font-size: 4vw;
    font-weight: 900;
    margin-bottom: 1.2vw;
    color: $font;
  }
  & p {
    width: 80%;
    text-align: center;
    margin-bottom: 2.5vw;
    color: $font;
    font-size: 1.3vw;
  }
  & .site-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 17.5vw;
    gap: 3%;
    margin-bottom: 5vw;
    & .site-button {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 2vw 1.5vw;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      & object {
        width: 60%;
        height: 52%;
        color: $font;
        object-fit: scale-down;
        margin-bottom: 0.5vw;
      }
      & hr {
        width: 15%;
        background-color: rgba($color: $font, $alpha: 0.5);
      }
      & h2 {
        font-size: 2.3vw;
        font-weight: 700;
        line-height: 2.3vw;
        color: $font;
      }
      &:hover {
        box-shadow: 0 2px 20px rgba($color: $font, $alpha: 0.2);
        transition: all 0.2s ease-in-out;
      }
    }
    & #dentist {
      background-color: #f6cfce;
    }
    & #map {
      background-color: #faedc9;
    }
    & #dental {
      background-color: #bee0d9;
    }
    & #megaphone {
      background-color: #a5d5f7;
    }
  }
  & .notice-title {
    margin-bottom: 3vw;
  }
  & .home-notice {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 7vw;
    gap: 1vw;
    & .impPosting {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0px 2px 5px rgba($color: $font, $alpha: 0.1);
      transition: all 0.1s ease-in-out;
      text-decoration: none;
      color: $font;
      padding: 1vw;
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 4fr 1fr 1fr;
      gap: 0.1vw;
      & i {
        grid-row: span 3;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
      }
      & h4 {
        font-size: 2.3vw;
        font-weight: 700;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & small {
        color: rgba($color: $font, $alpha: 0.5);
        font-size: 1vw;
      }
      &:hover {
        background-color: $font;
        color: $bg;
        transition: all 0.1s ease-in-out;
        & small {
          color: rgba($color: $bg, $alpha: 0.5);
        }
      }
    }
  }
}

@media screen and (max-width: $small) {
  .home {
    width: 100%;
    & h1 {
      font-size: 7vw;
      margin-bottom: 1.5vw;
    }
    & p {
      font-size: 2.5vw;
      margin-bottom: 3vw;
    }
    & .site-buttons {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 17.5vw;
      gap: 0;
      & .site-button {
        padding: 1.5vw 2vw;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        & object {
          width: 30%;
          height: 70%;
          margin-bottom: 0;
          margin-right: 3vw;
        }
        & hr {
          display: none;
        }
        & h2 {
          font-size: 5vw;
          line-height: 5.1vw;
        }
      }
    }
    & .home-notice {
      grid-auto-rows: 13vw;
      & .impPosting {
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        & i {
          font-size: 3.5vw;
        }
        & h4 {
          font-size: 4.5vw;
        }
        & small {
          font-size: 2vw;
        }
      }
    }
  }
}
