.login {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h1 {
    margin: 80px 0;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: $font;
  }
  & .input_container {
    margin-right: 10px;
  }
  & #submit {
    background-color: $font;
    color: $bg;
    border: none;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba($color: $font, $alpha: 0.5);
      transition: box-shadow 0.2s ease-in-out;
    }
    &:focus {
      outline: none;
      box-shadow: 0px 4px 10px rgba($color: $font, $alpha: 0.5);
      transition: box-shadow 0.2s ease-in-out;
    }
  }
}

@media screen and (min-width: $small) {
  .admin--login {
    align-items: flex-end;
  }
}

@media screen and (max-width: $small) {
  .admin--login {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    & .input_container {
      margin-bottom: 15px;
    }
    & #submit {
      margin-left: -10px;
      width: 211px;
      height: 40px;
    }
  }
}
