.upload {
  width: 97%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  & h1 {
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: $font;
  }
  & .upload_contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & .upload_infos {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 5px;
      margin-bottom: 10px;
      & label {
        font-weight: 500;
        color: $font;
      }
      & .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        margin-bottom: 3px;
        & #title {
          width: 100%;
          height: 35px;
          background-color: $bg;
          border: 1px solid rgba($color: $border, $alpha: 0.5);
          border-radius: 5px;
          box-shadow: inset 0px 0px 5px rgba($color: $font, $alpha: 0.16);
          padding-left: 7px;
          font-size: 15px;
          transition: box-shadow 0.2s ease-in-out;
          &:hover {
            box-shadow: inset 0px 0px 10px rgba($color: $font, $alpha: 0.16);
            transition: box-shadow 0.2s ease-in-out;
          }
          &:focus {
            outline: none;
            box-shadow: inset 0px 0px 10px rgba($color: $font, $alpha: 0.16);
          }
        }
      }
      & .board_imp {
        display: flex;
        gap: 20px;
        & .board {
          display: flex;
          gap: 7px;
          & select {
            height: 20px;
            background-color: $bg;
            border: 1px solid rgba($color: $border, $alpha: 0.5);
            border-radius: 5px;
            box-shadow: inset 0px 0px 2px rgba($color: $font, $alpha: 0.16);
            font-size: 12px;
            padding-left: 3px;
            transition: box-shadow 0.2s ease-in-out;
            &:hover {
              box-shadow: inset 0px 0px 10px rgba($color: $font, $alpha: 0.16);
              transition: box-shadow 0.2s ease-in-out;
            }
            &:focus {
              outline: none;
              box-shadow: inset 0px 0px 10px rgba($color: $font, $alpha: 0.16);
            }
          }
        }
        & .imp {
          display: flex;
          align-items: center;
          gap: 2px;
          & input {
            transition: box-shadow 0.2s ease-in-out;
            &:focus,
            &:hover {
              outline: none;
              box-shadow: inset 0px 0px 10px rgba($color: $font, $alpha: 0.16);
              transition: box-shadow 0.2s ease-in-out;
            }
          }
        }
      }
    }
    & #editor {
      min-height: 300px;
    }
    & #submit {
      margin-top: 5px;
      background-color: $font;
      color: $bg;
      border: none;
      width: 100%;
      height: 40px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 700;
      transition: box-shadow 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 4px 10px rgba($color: $font, $alpha: 0.5);
        transition: box-shadow 0.2s ease-in-out;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 4px 10px rgba($color: $font, $alpha: 0.5);
        transition: box-shadow 0.2s ease-in-out;
      }
    }
  }
}
