.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.4vw 16vw;
  color: $font;
  box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0px;
  z-index: 1;
  .header__title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $font;
    i {
      font-size: 1.8vw;
      margin-right: 0.5vw;
    }
    h1 {
      font-size: 1.3vw;
      font-weight: 900;
      width: max-content;
    }
  }
  .header__contents {
    display: grid;
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 2.3vw;
    grid-template-columns: repeat(8, max-content);
    li {
      font-weight: 700;
      font-size: 1vw;
      a {
        text-decoration: none;
        color: $font;
      }
    }
  }
  .header__tel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span {
      width: max-content;
      font-size: 0.9vw;
      font-weight: 700;
      &:first-child {
        margin-bottom: 3px;
      }
    }
  }
}
