include mixins/message

doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="Jungmin Yoo")
        meta(name="description", content="미래부부치과입니다. 아름다운 미소를 위해 정성을 다하겠습니다.")
        meta(name="og:title", content="미래부부치과")
        meta(name="og:description", content="미래부부치과입니다. 아름다운 미소를 위해 정성을 다하겠습니다.")
        meta(name="og:type", content="website")
        meta(name="og:url", content="https://mirae-dental.herokuapp.com/")
        meta(name="og:image", content="https://mirae-dental.s3.us-east-2.amazonaws.com/elements/mirae-logo.svg")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet" href="/assets/css/styles.css")
        link(href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet")
        link(href="/favicon.ico" rel="icon")
        title #{pageTitle} | 미래부부치과
    body 
        if messages.error 
            +message("error", messages.error) 
        if messages.notice 
            +message("notice", messages.notice)
        include partials/header 
        include partials/sns
        main 
            block content 
        include partials/footer
        script(src="/assets/js/main.js")
        script(src="/assets/js/sidebar.js")
        script(src="/assets/js/header.js")
        block scripts
