footer
    .meta-buttons 
        a(href="/meta/policy") 이용약관
        a(href="/meta/privacy") 개인정보처리방침
    .meta-info
        p 상호명 : 미래부부치과 | 대표자 : 유동엽 | 사업자등록번호 : 612-91-91020
        p 전화 : 055-632-7588 | 주소 : 경남 거제시 중곡로5길 1 근인빌딩 2층 | 개인정보보호책임자 : 유동엽
    .icon-att
        span <아이콘 출처>
        div
            span Icons made by 
            a(href="https://www.freepik.com", title="Freepik") Freepik
            span  from 
            a(href="https://www.flaticon.com/", title="Flaticon") www.flaticon.com
        div
            span Icons made by 
            a(href="https://www.flaticon.com/authors/monkik", title="monkik") monkik
            span  from 
            a(href="https://www.flaticon.com/", title="Flaticon") www.flaticon.com