header
    nav.header 
        a(href="/").header__title
            i.fas.fa-tooth
            h1 미래부부치과
        ul.header__contents
            li.header__content#intro
                a(href="/intro") 병원소개
                ul.header__subcontents.hidden#introSub
                    li.header__subcontent
                        a(href="/intro") 병원소개
                    li.header__subcontent
                        a(href="/intro/director") 원장소개
                    li.header__subcontent
                        a(href="/intro/guide") 진료안내
            li.header__content
                a(href="/treatment/prosthetic") 심미보철
            li.header__content
                a(href="/treatment/implant") 임플란트
            li.header__content
                a(href="/treatment/dentures") 틀니
            li.header__content
                a(href="/treatment/endodontic") 신경치료
            li.header__content
                a(href="/treatment/periodental") 치주치료
            li.header__content
                a(href="/treatment/cervical") 치경부마모
            li.header__content#notice
                a(href="/notice") 게시판
                ul.header__subcontents.hidden#noticeSub
                    li.header__subcontent
                        a(href="/notice") 공지사항
                    li.header__subcontent
                        a(href="/notice/cases") 치료사례
                    li.header__subcontent
                        a(href="/notice/caution") 주의사항
        .header__tel
            span 문의사항
            span TEL) 055-632-7588