nav.header 
    a(href="/").header__title
        i.fas.fa-tooth
        h1 미래부부치과
    ul.header__contents
        li
            a(href="/intro") 병원소개
        li 
            a(href="/treatment/prosthetic") 심미보철
        li 
            a(href="/treatment/implant") 임플란트
        li 
            a(href="/treatment/dentures") 틀니
        li 
            a(href="/treatment/endodontic") 신경치료
        li 
            a(href="/treatment/periodental") 치주치료
        li 
            a(href="/treatment/cervical") 치경부마모
        li 
            a(href="/notice") 게시판
    .header__tel
        span 문의사항
        span TEL) 055-632-7588