nav.header 
    a(href="/").header__title
        i.fas.fa-tooth
        h1 미래부부치과
    ul.header__contents
        li 병원소개
        li 심미보철
        li 임플란트
        li 틀니
        li 신경치료
        li 치주치료
        li 치경부마모
        li 게시판
    .header__tel
        span 문의사항
        span TEL) 055-632-7588